.criminalList {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.criminalBox {
    border: .2rem solid gray;
    color: #33363b;
    background-color:#DFEFF0;
    flex-basis: 20%;
    width: 30%;
    height: auto;
    padding: .2rem;
    margin: .5rem;
}

/* @media(max-width: 1333px) {
    .criminalBox {
      flex-basis: 33.33%;
    }
  }
  @media(max-width: 1073px) {
     .criminalBox {
      flex-basis: 33.33%;
    }
  }
  @media(max-width: 815px) {
    .criminalBox {
      flex-basis: 50%;
    }
  }
  @media(max-width: 555px) {
    .criminalBox {
      flex-basis: 100%;
    }
  } */