

.noteListContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.note {
    border: .2rem solid gray;
    color: #33363b;
    background-color:#BDD8DA;
    flex-basis: 20%;
    width: 30%;
    height: auto;
    padding: .2rem;
    margin: .5rem;
}