.noteFormContainer {
    margin: 1rem;
}


.noteListContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.note {
    border: .2rem solid gray;
    color: #33363b;
    background-color:#fbe3e8;
    flex-basis: 20%;
    width: 30%;
    height: auto;
    padding: .2rem;
    margin: .5rem;
}
.noteListButton {
    margin: 1rem;
}

hideListButton {
    margin: 1rem;
}