.witnessList {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
   
   
    
}
.witnessBox {
    border: .2rem solid gray;
    color:#33363b;
    background-color:#ebf6f5;
    flex-basis: 20%;
    width: 30%;
    height: auto;
    padding: .2rem;
    margin: .5rem;
}